<section class="oe_container oe_dark">
    <div class="col-md-12">
        <h2 class="oe_slogan" style="font-size: 35px"><b>Accounting Excel/PDF Reports Odoo12</b></h2>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div style="align:center;">
             <h1 style=" text-align: center;">
                 <span align="center">
                     <span class="fa fa-star fa-spin">
                     </span>
                     Features:</span>
             </h1>
            <div class="col-sm-2"/>
            <div class="col-sm-4" style="text-align:left">
                <p class="fa fa-hand-o-right" style="font-size: 25px;">
                    <span style="font-size: 15px;">Partner Ledger Report.</span>
                </p><br/>
                <p class="fa fa-hand-o-right" style="font-size: 25px;">
                    <span style="font-size: 15px;">General Ledger.</span>
                </p><br/>
                <p class="fa fa-hand-o-right" style="font-size: 25px;">
                    <span style="font-size: 15px;">Aged Partner Balance.</span>
                </p><br/>
                <p class="fa fa-hand-o-right" style="font-size: 25px;">
                    <span style="font-size: 15px;">Journals Audit.</span>
                </p><br/>
            </div>
            <div class="col-sm-1"/>
            <div class="col-sm-4" style="text-align:left">
                <p class="fa fa-hand-o-right" style="font-size: 25px;">
                    <span style="font-size: 15px;">Trial Balance.</span>
                </p><br/>
                <p class="fa fa-hand-o-right" style="font-size: 25px;">
                    <span style="font-size: 15px;">Balance Sheet.</span>
                </p><br/>
                <p class="fa fa-hand-o-right" style="font-size: 25px;">
                    <span style="font-size: 15px;">Profit and Loss.</span>
                </p><br/>
                <p class="fa fa-hand-o-right" style="font-size: 25px;">
                    <span style="font-size: 15px;">Tax Report.</span>
                </p><br/>
            </div>
            <div class="col-sm-1"/>
        </div>
        <br/>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:olive;">Accounting Reports</h2>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="account_reports.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#1b1d26;">General Ledger</h3>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="g_l.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="g_l_pdf.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="g_l_excel.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#1b1d26;">Partner Ledger</h3>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="p_l.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="p_l_pdf.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="p_l_excel.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#1b1d26;">Aged Partner Balance</h3>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="aged.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="aged_pdf.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="aged_excel.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#1b1d26;">Journal Audit</h3>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="j_a.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="j_a_pdf.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="j_a_excel.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#1b1d26;">Trial Balance</h3>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="trial.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="trial_pdf.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="trial_excel.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#1b1d26;">Balance Sheet</h3>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="balance.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="balance_pdf.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="balance_excel.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#1b1d26;">Profit And Loss</h3>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="profit.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="profit_pdf.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="profit_excel.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#1b1d26;">Tax Report</h3>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="tax.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="tax_pdf.png">
        </div>
        <div class="text-center oe_picture oe_screenshot">
            <img class="oe_picture oe_screenshot" src="tax_excel.png">
        </div>
    </div>
</section>



<br/>

<hr style="width: 100%;height: 4px;background: #2C0091;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #148963;margin: 0px 0px;">
<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <img src="icon.png" style="width: 70px; height:70px"/>
            <div style="color:#269900;">
                <h3 style="color:#2C0091;font-size: 25px;">If you need any support or want more features, just contact us:</h3><br>
                <h3 style="color:#2C0091;font-size: 20px;">Email: <a href="mailto:info@laxicon.in">info@laxicon.in</a> <br></h3>
            </div>
            <div class="oe_slogan">
               <h2>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://laxicon.in">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="mailto:info@laxicon.in">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://api.whatsapp.com/send?phone=919099233354">
                        <i class="fa fa-whatsapp "></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://www.facebook.com/Laxiconsolution">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://twitter.com/Laxiconsolution">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://www.instagram.com/laxiconsolution/">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="=_blank" href="skype:shivamdudhat?chat">
                        <i class="fa fa-skype"></i>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</section>