<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B">Invoice Line xlsx</h2>
        <div style="margin-left:50px;margin-right:50px">
            <p class="oe_mt32" style="text-align:center;font-size:18px">
                This module allows to xlsx report of multiple Invoice Line from the tree/form view.
            </p>
        </div>
    </div>
</section>

<!-- You may also like -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="col-mg-12 col-lg-12 oe_slogan">
            <a style="color: #000000;">
                You may also like
            </a>
        </h2>
        <h1 style=" text-align: center;">
            <span align="center">Our Services:</span>
        </h1>
        <div class="row" style="margin: 15px 50px 0px 50px;">
            <div class="col-sm-4">  
                <p class="fa fa-thumbs-up" style="font-size: 25px;">
                    <span style="font-size: 15px;">Odoo Training</span>
                </p><br/>
                <p class="fa fa-thumbs-up" style="font-size: 25px;">
                    <span style="font-size: 15px;">Odoo Integration</span>
                </p><br/>
                <p class="fa fa-thumbs-up" style="font-size: 25px;">
                    <span style="font-size: 15px;">Odoo Consultancy</span>
                </p>
            </div>
            <div class="col-sm-4">
                <p class="fa fa-thumbs-up" style="font-size: 25px;">
                    <span style="font-size: 15px;">Odoo Customization</span>
                </p><br/>
                <p class="fa fa-thumbs-up" style="font-size: 25px;">
                    <span style="font-size: 15px;">Odoo Implementation</span>
                </p><br/>
                <p class="fa fa-thumbs-up" style="font-size: 25px;">
                    <span style="font-size: 15px;">Odoo Support</span>
                </p>
            </div>
            <div class="col-sm-4">
                <p class="fa fa-thumbs-up" style="font-size: 25px;">
                    <span style="font-size: 15px;">Odoo Migration</span>
                </p><br/>
                <p class="fa fa-thumbs-up" style="font-size: 25px;">
                    <span style="font-size: 15px;">Odoo Onsite/Offsite Developement</span>
                </p>
            </div>
        </div>
        <br/>
    </div>
</section>

<!-- Get Help & Support -->
<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <img src="icon.png" style="width: 70px; height:70px"/>
            <div style="color:#269900;">
                <h3 style="color:#2C0091;font-size: 25px;">If you need any support or want more features, just contact us:</h3><br>
                <h3 style="color:#2C0091;font-size: 20px;">Email: <a href="mailto:info@laxicon.in">info@laxicon.in</a> <br></h3>
            </div>
            <div class="oe_slogan">
               <h2>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://laxicon.in">
                        <i class="fa fa-globe"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="mailto:info@laxicon.in">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://api.whatsapp.com/send?phone=919099233354">
                        <i class="fa fa-whatsapp "></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://www.facebook.com/Laxiconsolution">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://twitter.com/Laxiconsolution">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="_blank" href="https://www.instagram.com/laxiconsolution/">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" target="=_blank" href="skype:shivamdudhat?chat">
                        <i class="fa fa-skype"></i>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</section>