<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">A single platform for computing, filing,
			and reporting</h2>
		<p class="oe_slogan">Use this module to generate GST invoice
			seamlessly</p>
		<p>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Tax-based GST</h2>
		<h3 class="oe_slogan">The user can choose CGST or SGST via the
			given form</h3>
		<div class="oe_span12">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="tax.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">GST/HSN Code Configuration</h2>
		<h3 class="oe_slogan">This feature enables the user to configure
			GST/HSN Code</h3>
		<div class="oe_span12">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="hsn_config.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">HSN Code On Product</h2>
		<h3 class="oe_slogan">The user can also find out the HSN code
			basis product category using the search filter</h3>
		<div class="oe_span12">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="product.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">The user can easily find out the GST code
			on various states</h2>
		<div class="oe_span12">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="state.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">GST number shall be displayed on the
			customer/company form</h2>
		<div class="oe_span6">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="customer.png">
			</div>
		</div>
		<div class="oe_span6">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="company.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">GST shall be automatically computed basis
			product & customer location and applied on the displayed invoice line</h2>
		<div class="oe_span12">
			<div class="oe_demo">
				<img src="Invoice_form.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Tax Entry On Tax Table</h2>
		<div class="oe_span12">
			<div class="oe_demo oe_picture oe_screenshot">
				<img src="invoice_form_tax_entry.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_centeralign">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Tax Report</h2>
		<p class="oe_mt32">This feature enables the user to configure
			GST/HSN Code</p>
		<div class="oe_span12">
			<div class="oe_screenshot oe_demo">
				<img src="Tax Invoice GST_new.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Contact / Support</h2>
		<div class="oe_span6">
			<div class="oe_picture" style="margin: 25px 10%;">
				<a href="http://www.laxicon.in/"> <img src="logo.png">
				</a>
			</div>
		</div>
		<div class="oe_span6">
			<p class="oe_mt32">
				If you need any help or want more additional features,<br /> you
				may contact us through:<br /> Email: <a
					href="mailto:info@laxicon.in">info@laxicon.in</a> <br />
				Website: <a href="http://www.pseudocode.co/"><u>www.laxicon.in</u></a>
				<br />
			</p>
		</div>
	</div>
</section>