<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#2C0091;">Sale Order Delivery and Invoicing Status</h2>
      <h3 class="oe_slogan">

This module useful to get status of delivery and invoices of sale orders. Easily filters sale orders with delivered, partial delivered, paid, partially paid.
<br/>

</h3>

      <h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" href="https://youtu.be/X_eOGGJWrfY" target="_blank">How it works? Click here to watch video</a>
      </h2>   

    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <p class="oe_mt32">
		</p><div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
		  <i class="fa fa-hand-o-right"></i><b> Key features: </b>
			<ul class="list-unstyled">
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Easy to find delivered or partially delivered delivery orders and fully paid or partially paid invoices.
			  </li>	
		
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Easy to filter delivered sale orders.
			  </li>
			
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Easy to filter partial delivered sale orders.

			  </li>

			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Easy to filter fully paid invoices of sale orders.

			  </li>


			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Easy to filter partially paid invoices of sale orders.

			  </li>

			</ul>

		</div>
      		
    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Partially Delivered, Delivered, Partially Paid, Paid fields in sale order tree view and filters</h4>
        <div >
            <img class="img-responsive" src="1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Partially Delivered, Delivered, Partially Paid, Paid fields in sale order form view</h4>
        <div >
            <img class="img-responsive" src="2.png">
        </div>
    </div>
</section>





<br/>
<section class="oe_container oe_dark"> 
	<h2 class="oe_slogan" style="color:#2C0091;">You may also like!</h2>
	<div class="row oe_row oe_spaced"> 
		 
		<div class="col-md-4" align="center">
			<a href="https://apps.odoo.com/apps/modules/11.0/split_quo_rfq/">
				<img src="https://apps.odoo.com/apps/modules/11.0/split_quo_rfq/icon.png" alt="Split Quotation, Sales Order And RFQ, Purchase Order" height="200"/>
			</a> 
			<br/> <strong>Split Quotation, Sales Order And RFQ, Purchase Order</strong> 
		</div> 
		
		<div class="col-md-4" align="center">
		 <a href="https://apps.odoo.com/apps/modules/11.0/sh_all_filters/">
			<img src="https://apps.odoo.com/apps/modules/11.0/sh_all_filters/icon.png" alt="All in One Filters - Sales, Purchase, Inventory, Invoice" height="200"/>
		</a> 
		<br/> 
		<strong>All in One Filters - Sales, Purchase, Inventory, Invoice</strong> 
		</div>	

		<div class="col-md-4" align="center">
		 <a href="https://apps.odoo.com/apps/modules/11.0/sh_mass_confirm/">
			<img src="https://apps.odoo.com/apps/modules/11.0/sh_mass_confirm/icon.png" alt="All in one mass confirm" height="200"/>
		</a> 
		<br/> 
		<strong>All in one mass confirm</strong> 
		</div>	



	</div> 
</section> 
<br/>







<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
	<h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
	<br/>
	<div class="text-center">	
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
	    <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com/support"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="Softhealer Helpdesk">Helpdesk Support</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="softhealer.com">More About Us</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="skype:live:softhealertechnologies?chat"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info_736589">Skype</span></a>
    </div>	
  </div>
</section>
