<section class="oe_container" id="wk_header">
  <div class="mt32 mb32">
      <h2 class="text-center" style="color:#000">
         Odoo Price Inclusive For Group Taxes
      </h2>
      <h5 class="mt8 mb8 text-center" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 18px;line-height: 13px;color: #333333;">
          <i>Fix major issues for inclusive tax calculation(Group Type Tax) in Odoo!!</i>
      </h5>
  </div>
  <div class="row ml8 mr8 mt16 mb16 m-1">
      <div class="container col-md-6  border-right" style="font-weight:500;line-height: 24px;font-size:16px;color:#484848;font-family: 'Open Sans', sans-serif; vertical-align: middle; display: grid;">
          <p class="mb4 mt4 mr8">
          Odoo Price Inclusive For Group Taxes Module adds the percentages together first and then calculates the correct and true tax. You can set the tax to be included in the mentioned sales price and total tax as the sum of percentages of the components in the back-end.
          </p>
      </div>
      <div class="container col-md-6 ">
          <h4 class="ml-md-3">Information</h4>
          <div class="mt-2 ml-md-3" style="display:flex">
              <span class="ml-1 mr-2 my-auto"><img src="icon-user-guide.png" alt="user-guide"></span>
              <div style="font-weight: 600;font-size: 14px;line-height: 10px;" class="mt-3">
                  User Guide
              </div>
          </div>
          <div class="ml-md-3" style="display:flex;">
              <span style="font-size:15px; margin-top:0.2rem">https://webkul.com/blog/odoo-price-inclusive-for-group-taxes/</span>
          </div>
      </div>
  </div>
</section>

<div class="card p-4 ml8 mr8 mb16 mt16">
    <div class="row mb8">
        <div class="col-11">
            <h3 style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: 600;font-size: 18px;line-height: 30px;color: #333333;">Manage the taxes accurately in Odoo!!</h3>
        </div>
    </div>
    <div class="row">
        <p class="ml16 mb8" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 24px;color: #646464;">
            Well, paying taxes is important to be a responsible citizen of the country. But, paying tax more than needed is not a smart thing you do. It's important to pay the tax either not less nor more but exact amount.
        </p>
        <p class="ml16 mb8" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 24px;color: #646464;">
            The Odoo default tax formula makes you pay more tax than needed. This could be understood by an example below:<br/><br/>
            The right formulae for price inclusive tax is as follows:<br/>
            Formula = base_amount - (base_amount / (1 + rate / 100))<br/><br/>
            Calculating the default formulae with Base amount as 100 and rate(GroupTax) as 18% (9% + 9%) then expected tax would be 15.2542373<br/>
            However, the Formulae used by the Flow of Odoo is as follows:<br/>
            GroupTax = {100-(100/(1 + 9/100))} + {100-(100/(1 + 9/100))}<br/>
            GroupTax = 8.25688073 + 8.25688073<br/>
            Applied GroupTax = 16.5137615<br/><br/>
            It makes 1.2595242 difference from the expected amount. Hence, it may lead you to pay more tax than that you actually need to pay.<br/>
            This module makes you manage the Price Inclusive For Group Taxes that too by avoiding the miscalculations. Odoo Price Inclusive For Group Taxes facilitates you to apply the tax calculation flawlessly to avoid such errors and gives you the exact figure of the tax to be paid.
        </p>
    </div>
</div>

<div class="ml8 mr8 mb16 mt16">
    <div class="row mb8">
        <div class="col-12">
            <img src="image.png"/>
        </div>
    </div>
</div>

<div>
    <h3 class="ml8 mb-0" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: 600;font-size: 20px;line-height: 30px;color: #333333;">Highlighted Features</h3>
    <span class="ml8 mt8" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 23px;color: #646464;">Below is the highlighted features of Odoo Price Inclusive For Group Taxes</span>
</div>

<div class="row mw-100 py-2 ml8 mr8">
    <div class="col-md-3 col-12 pl-md-2">
        <div class="card oe_padded" style="height:100%;">
            <div class="row ml8 mr8">
                <div class="col-3 my-auto">
                    <img src="icon-1.png"/>
                </div>
                <div class="col-9 my-auto" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 23px;color: #484848;">
                    Calculate correct taxes for invoices.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 pr-md-2">
        <div class="card oe_padded" style="height:100%;">
            <div class="row ml8 mr8">
                <div class="col-3 my-auto">
                    <img src="icon-2.png"/>
                </div>
                <div class="col-9 my-auto" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 23px;color: #484848;">
                    Manage Include/Exclude for group type taxes in Odoo.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 pr-md-2">
        <div class="card oe_padded" style="height:100%;">
            <div class="row ml8 mr8">
                <div class="col-3 my-auto">
                    <img src="icon-3.png"/>
                </div>
                <div class="col-9 my-auto" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 23px;color: #484848;">
                    Manage tax rate for group tax in Odoo.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 pl-md-2">
        <div class="card oe_padded" style="height:100%;">
            <div class="row ml8 mr8">
                <div class="col-3 my-auto">
                    <img src="icon-4.png"/>
                </div>
                <div class="col-9 my-auto" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 23px;color: #484848;">
                    Fix major issue for including tax calculation
                </div>
            </div>
        </div>
    </div>
</div>

    <div>
        <h3 class="ml16 mb-0" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: 600;font-size: 26px;line-height: 38px;color: #333333;">Detailed Features List</h3>
        <span class="ml16 mt8" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 37px;color: #555555;">Below is the detailed list of feature of module Odoo Price Inclusive For Group Taxes</span>
    </div>

    <div class="row no-gutters mw-100 py-2">
        <div class="col-md-6 col-12 pb-2 pb-md-0 pr-md-2">
            <div class="shadow card oe_padded h-100 ml-md-4">
                <h3 class="pl-4" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;color: #333333;">
                    Calculate correct and accurate taxes in Odoo</h3>
                <div class="ml16" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 22px;color: #555555;">
                    <li class="d-flex align-items-baseline mb-3">
                        <i class="fa fa-check mr8" style="color:#500FDA;"/>
                        <span>Odoo Price Inclusive For Group Taxes Module calculates correct taxes for invoices in Odoo.</span>
                    </li>
                    <li class="d-flex align-items-baseline mb-3">
                        <i class="fa fa-check mr8" style="color:#500FDA;"/>
                        <span> It adds the percentages together first and then calculates the correct and true tax.</span>
                    </li>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 pt-2 pt-md-0 pl-md-2">
            <div class="shadow card oe_padded h-100 mr-md-4">
                <h3 class="pl-4" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;color: #333333;">
                    Manage group type taxes and their rates in Odoo</h3>
                <div class="ml16" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 22px;color: #555555;">
                    <li class="d-flex align-items-baseline mb-3">
                        <i class="fa fa-check mr8" style="color:#500FDA;"/>
                        <span>The module manages Include/Exclude for group type taxes in Odoo.</span>
                    </li>
                    <li class="d-flex align-items-baseline mb-3">
                        <i class="fa fa-check mr8" style="color:#500FDA;"/>
                        <span>Manage tax rate for group tax in Odoo.</span>
                    </li>
                    <li class="d-flex align-items-baseline mb-3">
                        <i class="fa fa-check mr8" style="color:#500FDA;"/>
                        <span>Fix major issue for including tax calculation(Group Type Tax) in Odoo.</span>
                    </li>
                </div>
            </div>
        </div>
    </div>

    <div class="card p-2 mb32 mt32" style="background: #FFFFFF;text-align: center"><br>
        <h3 style="font-weight: bold;font-size: 26px;color: #333333;text-align: center;">Manage Include/Exclude and rate for group type taxes in Odoo</h3>
        <a href="1.png">
           <img class="oe_picture oe_screenshot" style="width:84%" src="1.png">
        </a>
    </div>

    <section class="mb-5 pb32 pt32" id="webkul_support">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Help and Support</h2>
                <p class="mb-2 text-center" style="font-size:16px; color:#333; font-weight:400">Get Immediate support for any of your query</p>
            </div>
            <div class="col-12">
                <p class="text-center px-5" style="font-size:14px; color:#555; font-weight:normal;">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
            </div>
            <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
                <div class="row align-items-center justify-content-center mx-0 p-3">
                    <div class="col-xl-2 col-lg-2 col-md-2 sol-sm-2 text-center pr-0" style="">
                        <img src="mail.png" alt="mail" class="img img-fluid">
                    </div>
                    <div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 ">
                        <p class="my-2" style="color:#555; font-weight:bold;">Write a mail to us:</p>
                        <b class="text-primary" style="font-size:18px" >support@webkul.com</b>
                        <p class="my-2" style="font-size:14px; color:#777; font-weight:normal;">Any queries or want any extra features? Just drop a mail to our support.</p>
                    </div>
                    <div class="col-xl-3 col-lg-4 text-center mt16 d-none d-xl-block d-md-block">
                        <a href="mailto:support@webkul.com" style="padding:10px 22px; background-color:#2335D7; font-size:14px; color:#fff"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                    </div>
                    <div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 text-left mt16 d-xl-none d-block d-md-none d-lg-none">
                        <a href="mailto:support@webkul.com" style="padding:10px 22px; background-color:#2335D7; font-size:14px; color:#fff"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                    </div>
                </div>
            </div>
            <div class="mx-auto col-lg-9 oe_screenshot">
                <div class="row align-items-center justify-content-center mx-0 p-3">
                    <div class="col-xl-2 col-lg-2 col-md-2 sol-sm-2 text-center pr-0">
                        <img src="support-icon.png" alt="support-icon" class="img img-fluid">
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 ">
                        <p class="my-2" style="font-weight:bold; color:#555">Get in touch with our Expert:</p>
                        <b class="text-primary text-break" style="font-size:18px">https://webkul.uvdesk.com/en/customer/create-ticket/</b>
                        <p class="my-2" style="font-weight:normal; font-size:14px; color:#777">Have any technical queries, want extra features, or anything else? Our team is here to answer all your questions. Just Raise A Support Ticket.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="oe_container">
    <div class="oe_span12" style="max-width: 100%;">
    <!-- Piwik Image Tracker-->
    <img style="display:none" src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=Price-Inclusive-Tax&url=https://apps.odoo.com/apps/modules/15.0/price_inclusive_tax&uid=price_inclusive_tax" style="border:0" alt="" />
    <!-- End Piwik -->
    </div>
</section>
